html {
    font-size: 62.5%;
}

html,
body {
    font-family: "Hiragino Kaku Gothic Pro", sans-serif;
    width: min(100%, 440px);
    min-height: 100dvh;
    margin: 0 auto;
    overflow: hidden;

    a {
        text-decoration: none;

    }
}

.main_content {
    width: 440px;
}

header {
    background-color: #B9946A;
    width: min(100%, 440px);
    height: 100px;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    .header_icons {
        margin: 40px;
        display: flex;
        justify-content: space-between;

    }

    .icon_img img {
        width: 40px;
        height: 40px;
    }

    .qr_link {
        width: 30px;
        height: 30px;
    }

}


main {
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;

}

footer {
    position: fixed;
    z-index: 10;
    width: min(100%, 440px);
    height: 100px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #B9946A;

    .footer_nav {
        display: flex;
        height: 100%;
        justify-content: space-between;
        margin: 0 40px;

    }

    .footer_item {
        /* border: 1px solid #000; */
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        gap: 8px;

        p {
            color: #470000;
        }


    }
}